<!DOCTYPE html>
<html>
<head>
  <title><%=locals.title || 'Your title'%></title>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="<%=locals.title || 'Your title'%>" /><%
  if (locals.appId) {%>
  <meta name="apple-itunes-app" content="app-id=<%=appId%>" />
<% } %>
  <meta name="format-detection" content="telephone=no" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/logo_57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/logo_114x114.png" />
  <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and not (-webkit-min-device-pixel-ratio: 2)" href="images/startup_320x460.jpg">
  <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" href="images/startup_640x920.jpg">
  <link rel="apple-touch-startup-image" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" sizes="640x1096" href="images/startup_640x1096.jpg">
  <link rel="stylesheet" href="css/base.css" />
<% views.forEach(function (view) {%>
  <link rel="stylesheet" href="styles/<%=view%>.css" />
<% });%>
  <script src="lib/zepto.js"></script>
  <script src="lib/eventproxy-0.2.1.js"></script>
  <script src="lib/underscore-1.4.4.js"></script>
  <script src="lib/landscape-0.0.2.js"></script>
  <script src="lib/gesture.js"></script>
  <script src="lib/drama.js"></script>
<% views.forEach(function (view) { %>
  <script src="scripts/<%=view%>.js"></script>
<% });%>
  <script>
    $(function () {
      drama.init({
        sidebar: "aside",
        main: 'login',
        prefix: 'drama/',
        debug: true
      });
    });
  </script>
</head>
<body>
  <div id="drama">
    <div id="sidebar"></div>
    <div id="stage"></div>
    <div id="right_sidebar"></div>
    <div id="background"></div>
  </div>
  <div id="landscape"></div>
</body>
</html>
